<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClalisSoap" />
                <binding name="ClalisSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ClalisSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ClalisSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://liplis.mine.nu/Clalis/v30/Soap/Clalis.asmx"
                binding="basicHttpBinding" bindingConfiguration="ClalisSoap"
                contract="Api.ClalisSoap" name="ClalisSoap" />
            <endpoint address="http://liplis.mine.nu/Clalis/v41/Soap/Clalis.asmx"
                binding="basicHttpBinding" bindingConfiguration="ClalisSoap1"
                contract="Api41.ClalisSoap" name="ClalisSoap1" />
            <endpoint address="http://liplis.mine.nu/Clalis/v41/Soap/Clalis.asmx"
                binding="customBinding" bindingConfiguration="ClalisSoap121"
                contract="Api41.ClalisSoap" name="ClalisSoap12" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
